<div class="container sub">


     
    <%  if !current_user %>  
        <h3><a href="/register">Sign up</a> or <a href="/signin">log in</a> to participate</h3>
        
    <% else %>  
        <h2>Go ahead <%= params[:username] %>...</h2>
        <form method="POST" action="/blog">
        <label for="message">What would you like to say:</label>
        <textarea name="message" id="message"></textarea>

        <input class="send" type="submit" value="Submit post">
        </form>
   
    <% end %>

     <% Post.all.reverse.each do |post| %> 

      <% @user = User.find(post.user_id) %>
      <div class="post-content">
        <h3><%= "#{post.id} #{post.content}" %></h3>
        <div>
            <span>
                <%= "posted by: #{@user.fname} #{@user.lname} on #{post.date_posted}" %>
            </span>
            <% if session[:user_id] == post.user_id %>

            <span>
                <form class="inner-form" method="POST" action="/edit">
                    <input type="hidden" name="pid" value='<%= "#{post.id}" %>'>
                    <input type="hidden" name="uid" value='<%= "#{post.user_id}" %>'>
                    <input class="send edit" type="submit" value="edit">
                </form>
                <form class="inner-form" method="POST" action="/delete"> 
                    <input type="hidden" name="pid" value='<%= "#{post.id}" %>'>
                    <input type="hidden" name="uid" value='<%= "#{post.user_id}" %>'>
                    <input class="send del" type="submit" value="X">
                </form>
            </span>
            <% end %>

        </div>
      </div>

     <% end %> 
<section class="col col-3-3 js-top">&#8679;</section>
</div>